omegaconf
loguru
submitit
hydra-submitit-launcher
litgpt[all]
datasets
transformers
lightning
hydra-core
arrow
litgpt[all]
lightning-cloud
lightning-utilities
lightning
networkx
numpy
sympy
tqdm
triton
typing_extensions
wandb
loguru